<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Delete</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Delete questionnaire</h1>
<p th:text="${'Nice to see you again ' + session.user.username}"></p>

<!--Show Error if there's an error -->
<div th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
</div>
<!-- This renders if there's no error message -->
<div th:unless="${errorMsg}">
    <ul>
        <li>
            <a href="admin/create">Create</a>
        </li>
        <li>
            <a href="admin/inspect">Inspect</a>
        </li>
        <li>
            <a href="admin/delete">Delete</a>
        </li>
    </ul>
</div>
</body>
</html>