<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Home</h1>
<p th:text="${'Nice to see you again ' + session.user.username}"></p>

<!--Show Error if there's an error -->
<div th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
</div>
<!-- This renders if there's no error message -->
<div th:unless="${errorMsg}">
    <h2> Logs: </h2>
    <p th:each="l : ${logs}" th:text="${l.timestamp}"></p>

    <h2>Product of the day</h2>
    <h3 th:text="${questionnaire.name}"></h3>
    <img class="product-image"
         src="https://images.unsplash.com/photo-1582966984235-87f5b2a72d20?auto=format&fit=crop&w=400&q=80">
    <p th:each="r : ${questionnaire.reviews}" th:text="${r.value}"></p>

    <ul>
        <li th:if="${compilationEnabled}">
            <a href="marketing_questions">Compile questionnaire</a>
        </li>
        <li>
            <a href="leaderboard">Leaderboard</a>
        </li>
        <li>
            <a href="Logout">Logout</a>
        </li>
    </ul>
</div>
<script th:inline="javascript">
    // Clear cached answers
    sessionStorage.clear()
</script>
</body>
</html>