<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Inspect</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="container row pt-3">
<div class="col-md-6 offset-md-3">
    <div class="mb-3">
        <h1>Inspect questionnaire</h1>
        <a class="btn btn-outline-primary" href="adminInspect">Back to questionnaires list</a>
    </div>

    <!--Show Error if there's an error -->
    <p class="alert alert-danger" th:text="${errorMsg}" th:if="${errorMsg}"></p>
    <!-- This renders if there's no error message -->
    <div th:unless="${errorMsg}">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Users who submitted the questionnaire</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${users_submit}">
                    <td th:text="${u.username}"></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Users who cancelled the questionnaire</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${users_cancel}">
                    <td th:text="${u.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Marketing Questions</h3>
            <table class="table table-striped" th:each="q : ${marketing_questions}">
                <thead>
                <tr>
                    <th colspan="2" th:text="${q.question}"></th>
                </tr>
                <tr>
                    <th>Answer</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${q.replies}">
                    <td th:text="${a.value}"></td>
                    <td th:text="${a.user.username}"></td>
                </tr>
                </tbody>
            </table>
            <h3>Statistical Questions</h3>
            <table class="table table-striped" th:each="sq,status : ${stats_questions}">
                <thead>
                <tr>
                    <th colspan="2" th:text="${sq.question}"></th>
                </tr>
                <tr>
                    <th>Answer</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${stats_replies[status.index]}">
                    <td th:text="${a.value}"></td>
                    <td th:text="${a.user.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>