<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="container row pt-3">
<form action="CheckLogin" method="POST" class="col-md-4 offset-md-4">
    <h1>Login</h1>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" required class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" required class="form-control"/>
    </div>
    <div class="mb-3">
        <input type="submit" value="Login" class="form-control btn btn-primary">
    </div>

    <p class="alert alert-danger" th:if="${session.errorMsg}" th:text="${session.errorMsg}"></p>
</form>

</body>
</html>