<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marketing Questions</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Marketing Questions</h1>

<!--Show Error if there's an error -->
<div th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
</div>
<!-- This renders if there's no error message -->
<div>
    <p id="form-error"></p>
    <form id="marketing-form">
        <fieldset th:each="mq : ${marketing_questions}" th:switch="${mq.type.toString()}">
            <div th:case="'BOOL'">
                <p th:text="${mq.question}"></p>
                <div>
                    <div class="radio-box">
                        <label th:for="|${mq.id}-f|">False</label>
                        <input type="radio" th:name="${mq.id}" th:id="|${mq.id}-f|" value="false" checked required>
                    </div>
                    <div class="radio-box">
                        <label th:for="|${mq.id}-t|">True</label>
                        <input type="radio" th:name="${mq.id}" th:id="|${mq.id}-t|" value="true" required>
                    </div>
                </div>
            </div>
            <div th:case="'STRING'">
                <label th:for="${mq.id}" th:text="${mq.question}"></label>
                <input th:id="${mq.id}" th:name="${mq.id}" type="text" required>
            </div>
            <div th:case="'NUMBER'">
                <label th:for="${mq.id}" th:text="${mq.question}"></label>
                <input th:id="${mq.id}" th:name="${mq.id}" type="number" required>
            </div>
            <div th:case="'RATING'">
                <b th:text="${mq.question}"></b>
                <div>
                    <div th:each="i: ${#numbers.sequence(1, 5)}" class="radio-box">
                        <label th:for="|${mq.id}-${i}|" th:text="${i}"></label>
                        <input th:id="|${mq.id}-${i}|" th:name="${mq.id}" th:value="${i}" type="radio" required>
                    </div>
                </div>
            </div>
            <div th:case="*">
                <p>This question type cannot be shown.</p>
            </div>
        </fieldset>
        <input type="submit" onclick="handleNext()" value="Next">
    </form>

    <div>
        <a href="stats_questions" style="display: none;" id="next">Next</a>
    </div>
</div>
<script th:inline="javascript">
    function handleNext() {
        let isValid = true
        document.querySelectorAll("#marketing-form input").forEach(i => {
            if (i.value === undefined || i.value === "") {
                isValid = false
            }
        })
        if (!isValid) return

        saveAnswers()
        document.getElementById("next").click()
    }

    function saveAnswers() {
        console.log("Saving answers...")
        let inputs = document.querySelectorAll("#marketing-form input")
        let savedAnswers
        let savedMarketingAnswers = sessionStorage.getItem("SAVED_MARKETING_ANSWERS")
        if (!savedMarketingAnswers)
            savedAnswers = []
        else
            savedAnswers = JSON.parse(savedMarketingAnswers)

        for (let i of inputs) {
            if (i.type === "radio") {
                savedAnswers.push(
                    {id: i.name, type: i.type, value: i.value, checked: i.checked}
                )
            } else {
                savedAnswers.push(
                    {id: i.name, type: i.type, value: i.value, checked: undefined}
                )
            }
        }

        console.log(savedAnswers)
        sessionStorage.setItem("SAVED_MARKETING_ANSWERS", JSON.stringify(savedAnswers))
    }

    function fillAnswers() {
        console.log("Filling answers...")
        let inputs = document.querySelectorAll("#marketing-form input")
        // Fetch existing answers
        let savedAnswers = sessionStorage.getItem("SAVED_MARKETING_ANSWERS")
        sessionStorage.removeItem("SAVED_MARKETING_ANSWERS")
        if (!savedAnswers) return
        let answers = JSON.parse(savedAnswers)
        inputs.forEach((v, i) => {
            if (v.type === "radio") {
                v.checked = answers[i].checked
            } else {
                v.value = answers[i].value
            }
        })
    }

    // On page load
    fillAnswers()
</script>

</body>
</html>