<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistical Questions</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Statistical Questions</h1>

<!--Show Error if there's an error -->
<div th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
</div>
<!-- This renders if there's no error message -->
<div>
    <form th:each="sq : ${stats_questions}" id="stats-form">
        <fieldset th:switch="${sq.type.toString()}">
            <div th:case="'BOOL'">
                <label th:for="${sq.id}" th:text="${sq.question}"></label>
                <input th:id="${sq.id}" th:name="${sq.id}" type="checkbox">
            </div>
            <div th:case="'STRING'">
                <label th:for="${sq.id}" th:text="${sq.question}"></label>
                <input th:id="${sq.id}" th:name="${sq.id}" type="text">
            </div>
            <div th:case="'NUMBER'">
                <label th:for="${sq.id}" th:text="${sq.question}"></label>
                <input th:id="${sq.id}" th:name="${sq.id}" type="number">
            </div>
            <!--                <div th:case="'RATING'">-->
            <!--                    <p th:for="${sq.id}" th:text="${sq.question}"></p>-->
            <!--                    <th:block th:each="i: ${#numbers.sequence(1, 5)}">-->
            <!--                        <label th:for="|${sq.id}-${i}|" th:text="${i}"></label>-->
            <!--                        <input th:id="|${sq.id}-${i}|" th:name="${sq.id}" th:value="${i}" type="radio">-->
            <!--                    </th:block>-->
            <!--                </div>-->
            <div th:case="*">
                <p>This question cannot be shown.</p>
            </div>
        </fieldset>
    </form>

    <div>
        <a href="marketing_questions" onclick="handleBack()">Back</a>
        <a href="home" onclick="clearAnswers()">Cancel</a>
        <form action="SubmitAnswers" method="post" id="submit-form">
            <input type="button" value="Submit" onclick="submitAnswers()">
        </form>
    </div>
</div>

<script>
    function clearAnswers() {
        sessionStorage.clear()
        return true
    }

    function handleBack() {
        saveAnswers()
        return true
    }

    function saveAnswers() {
        console.log("Saving answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        let savedAnswers
        let savedStatsAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        if (!savedStatsAnswers)
            savedAnswers = []
        else
            savedAnswers = JSON.parse(savedStatsAnswers)

        for (let i of inputs) {
            if (i.type === "checkbox") {
                savedAnswers.push({id: i.id, type: i.type, value: i.checked}
                )
            } else {
                savedAnswers.push({id: i.id, type: i.type, value: i.value}
                )
            }
        }

        sessionStorage.setItem("SAVED_STATS_ANSWERS", JSON.stringify(savedAnswers))
    }

    function fillAnswers() {
        console.log("Filling answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        // Fetch existing answers
        let savedAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        sessionStorage.removeItem("SAVED_STATS_ANSWERS")
        if (!savedAnswers) return
        let answers = JSON.parse(savedAnswers)
        inputs.forEach((v, i) => {
            if (v.type === "checkbox") {
                v.checked = answers[i].value
            } else {
                v.value = answers[i].value
            }
        })
    }

    // On page load
    fillAnswers()

    function submitAnswers() {
        saveAnswers()
        let form = document.getElementById("submit-form")
        let marketingAnswers = JSON.parse(sessionStorage.getItem("SAVED_MARKETING_ANSWERS")) || []
        let statsAnswers = JSON.parse(sessionStorage.getItem("SAVED_STATS_ANSWERS")) || []

        // Generate invisible form fields that will be sent to the server
        marketingAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "marketing", form)
        })

        statsAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "stats", form)
        })

        document.getElementById("submit-form").submit()
    }

    function newHiddenAnswer(id, value, type, prefix, form) {
        let newElem = document.createElement("input")
        newElem.hidden = true
        newElem.type = type
        if (type === "checkbox")
            newElem.setAttribute("checked", value)
        else
            newElem.setAttribute("value", value)
        newElem.name = prefix + id

        form.appendChild(newElem)
    }

</script>

</body>
</html>