<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistical Questions</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Statistical Questions</h1>

<!--Show Error if there's an error -->
<div th:if="${errorMsg}">
    <p th:text="${errorMsg}"></p>
</div>
<!-- This renders if there's no error message -->
<div>
    <form th:each="sq : ${stats_questions}" id="stats-form">
        <fieldset th:switch="${sq.type.toString()}">
            <div th:case="'BOOL'">
                <b th:text="${sq.question}"></b>
                <div>
                    <div class="radio-box">
                        <label th:for="|${sq.id}-f|">False</label>
                        <input type="radio" th:name="${sq.id}" th:id="|${sq.id}-f|" value="false">
                    </div>
                    <div class="radio-box">
                        <label th:for="|${sq.id}-t|">True</label>
                        <input type="radio" th:name="${sq.id}" th:id="|${sq.id}-t|" value="true">
                    </div>
                    <div class="radio-box">
                        <label th:for="|${sq.id}-n|">No Answer</label>
                        <input type="radio" th:name="${sq.id}" th:id="|${sq.id}-n|" value="" checked>
                    </div>
                </div>
            </div>
            <div th:case="'STRING'">
                <label th:for="${sq.id}" th:text="${sq.question}"></label>
                <input th:id="${sq.id}" th:name="${sq.id}" type="text">
            </div>
            <div th:case="'NUMBER'">
                <label th:for="${sq.id}" th:text="${sq.question}"></label>
                <input th:id="${sq.id}" th:name="${sq.id}" type="number">
            </div>
            <div th:case="'RATING'">
                <b th:text="${sq.question}"></b>
                <div>
                    <div th:each="i: ${#numbers.sequence(1, 5)}" class="radio-box">
                        <label th:for="|${sq.id}-${i}|" th:text="${i}"></label>
                        <input th:id="|${sq.id}-${i}|" th:name="${sq.id}" th:value="${i}" type="radio">
                    </div>
                    <div class="radio-box">
                        <label th:for="|${sq.id}-0|" th:text="No Answer"></label>
                        <input th:id="|${sq.id}-0|" th:name="${sq.id}" th:value="" type="radio" checked>
                    </div>
                </div>
            </div>
            <div th:case="*">
                <p>This question type cannot be shown.</p>
            </div>
        </fieldset>
    </form>

    <div>
        <a href="marketing_questions" onclick="handleBack()">Back</a>
        <a href="home" onclick="clearAnswers()">Cancel</a>
        <form action="CreateQuestionnaireReplies" method="post" id="submit-form">
            <input type="button" value="Submit" onclick="submitAnswers()">
        </form>
    </div>
</div>

<script>
    function clearAnswers() {
        sessionStorage.clear()
        return true
    }

    function handleBack() {
        saveAnswers()
        return true
    }

    function saveAnswers() {
        console.log("Saving answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        let savedAnswers
        let savedStatsAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        if (!savedStatsAnswers)
            savedAnswers = []
        else
            savedAnswers = JSON.parse(savedStatsAnswers)

        for (let i of inputs) {
            if (i.type === "radio") {
                savedAnswers.push({id: i.name, type: i.type, value: i.value, checked: i.checked}
                )
            } else {
                savedAnswers.push({id: i.name, type: i.type, value: i.value, checked: undefined}
                )
            }
        }

        sessionStorage.setItem("SAVED_STATS_ANSWERS", JSON.stringify(savedAnswers))
    }

    function fillAnswers() {
        console.log("Filling answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        // Fetch existing answers
        let savedAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        // Clear old answers
        sessionStorage.removeItem("SAVED_STATS_ANSWERS")
        if (!savedAnswers) return
        let answers = JSON.parse(savedAnswers)
        inputs.forEach((v, i) => {
            if (v.type === "radio") {
                v.checked = answers[i].checked
            } else {
                v.value = answers[i].value
            }
        })
    }

    // On page load
    fillAnswers()

    function submitAnswers() {
        saveAnswers()
        let form = document.getElementById("submit-form")
        let marketingAnswers = JSON.parse(sessionStorage.getItem("SAVED_MARKETING_ANSWERS")) || []
        let statsAnswers = JSON.parse(sessionStorage.getItem("SAVED_STATS_ANSWERS")) || []

        // Generate invisible form fields that will be sent to the server
        marketingAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "marketing", form, item.checked)
        })

        statsAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "stats", form, item.checked)
        })

        document.getElementById("submit-form").submit()
    }

    function newHiddenAnswer(id, value, type, prefix, form, checked = undefined) {
        let newElem = document.createElement("input")
        newElem.hidden = true
        newElem.type = type
        if (type === "radio") {
            if (checked)
                newElem.setAttribute("checked", "checked")
            newElem.setAttribute("value", value)
        } else {
            newElem.setAttribute("value", value)
        }
        newElem.name = prefix + id

        form.appendChild(newElem)
    }

</script>

</body>
</html>