<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistical Questions</title>
    <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="container row pt-3">
<div class="col-md-6 offset-md-3">

    <h1>Statistical Questions</h1>

    <!--Show Error if there's an error -->
    <p class="alert alert-danger" th:if="${errorMsg}" th:text="${errorMsg}"></p>
    <form id="stats-form">
        <div th:each="sq : ${stats_questions}" th:switch="${sq.type.toString()}">
            <div th:case="'BOOL'">
                <p th:text="${sq.question}"></p>
                <div>
                    <div class="form-check">
                        <label class="form-check-label" th:for="|${sq.id}-f|">False</label>
                        <input class="form-check-input" type="radio" th:name="${sq.id}" th:id="|${sq.id}-f|"
                               value="false">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" th:for="|${sq.id}-t|">True</label>
                        <input class="form-check-input" type="radio" th:name="${sq.id}" th:id="|${sq.id}-t|"
                               value="true">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" th:for="|${sq.id}-n|">No Answer</label>
                        <input class="form-check-input" type="radio" th:name="${sq.id}" th:id="|${sq.id}-n|" value=""
                               checked>
                    </div>
                </div>
            </div>
            <div th:case="'STRING'">
                <label class="form-label" th:for="${sq.id}" th:text="${sq.question}"></label>
                <input class="form-control" th:id="${sq.id}" th:name="${sq.id}" type="text">
            </div>
            <div th:case="'NUMBER'">
                <label class="form-label" th:for="${sq.id}" th:text="${sq.question}"></label>
                <input class="form-control" th:id="${sq.id}" th:name="${sq.id}" type="number">
            </div>
            <div th:case="'RATING'">
                <b th:text="${sq.question}"></b>
                <div>
                    <div th:each="i: ${#numbers.sequence(1, 5)}" class="form-check">
                        <label class="form-check-label" th:for="|${sq.id}-${i}|" th:text="${i}"></label>
                        <input class="form-check-input" th:id="|${sq.id}-${i}|" th:name="${sq.id}" th:value="${i}"
                               type="radio">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" th:for="|${sq.id}-0|">No Answer</label>
                        <input class="form-check-input" th:id="|${sq.id}-0|" th:name="${sq.id}" value="" type="radio"
                               checked>
                    </div>
                </div>
            </div>
            <div th:case="*" class="alert alert-warning">
                <p>This question type cannot be shown.</p>
            </div>
            <hr>
        </div>
    </form>

    <div>

        <form action="CreateQuestionnaireReplies" method="post" id="submit-form">
            <a class="btn btn-outline-danger float-start" href="home" onclick="clearAnswers()">Cancel</a>
            <div class="float-end">
                <a class="btn btn-outline-primary" href="marketing_questions" onclick="handleBack()">Back</a>
                <input class="btn btn-primary" type="button" value="Submit" onclick="submitAnswers()">
            </div>
        </form>
    </div>
</div>

<script>
    function clearAnswers() {
        sessionStorage.clear()
        return true
    }

    function handleBack() {
        saveAnswers()
        return true
    }

    function saveAnswers() {
        console.log("Saving answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        let savedAnswers
        let savedStatsAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        if (!savedStatsAnswers)
            savedAnswers = []
        else
            savedAnswers = JSON.parse(savedStatsAnswers)

        for (let i of inputs) {
            if (i.type === "radio") {
                savedAnswers.push({id: i.name, type: i.type, value: i.value, checked: i.checked}
                )
            } else {
                savedAnswers.push({id: i.name, type: i.type, value: i.value, checked: undefined}
                )
            }
        }

        sessionStorage.setItem("SAVED_STATS_ANSWERS", JSON.stringify(savedAnswers))
    }

    function fillAnswers() {
        console.log("Filling answers...")
        let inputs = document.querySelectorAll("#stats-form input")
        // Fetch existing answers
        let savedAnswers = sessionStorage.getItem("SAVED_STATS_ANSWERS")
        // Clear old answers
        sessionStorage.removeItem("SAVED_STATS_ANSWERS")
        if (!savedAnswers) return
        let answers = JSON.parse(savedAnswers)
        inputs.forEach((v, i) => {
            if (v.type === "radio") {
                v.checked = answers[i].checked
            } else {
                v.value = answers[i].value
            }
        })
    }

    // On page load
    fillAnswers()

    function submitAnswers() {
        saveAnswers()
        let form = document.getElementById("submit-form")
        let marketingAnswers = JSON.parse(sessionStorage.getItem("SAVED_MARKETING_ANSWERS")) || []
        let statsAnswers = JSON.parse(sessionStorage.getItem("SAVED_STATS_ANSWERS")) || []

        // Generate invisible form fields that will be sent to the server
        marketingAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "marketing", form, item.checked)
        })

        statsAnswers.forEach(item => {
            newHiddenAnswer(item.id, item.value, item.type, "stats", form, item.checked)
        })

        document.getElementById("submit-form").submit()
    }

    function newHiddenAnswer(id, value, type, prefix, form, checked = undefined) {
        let newElem = document.createElement("input")
        newElem.hidden = true
        newElem.type = type
        if (type === "radio") {
            if (checked)
                newElem.setAttribute("checked", "checked")
            newElem.setAttribute("value", value)
        } else {
            newElem.setAttribute("value", value)
        }
        newElem.name = prefix + id

        form.appendChild(newElem)
    }

</script>

</body>
</html>